*{margin:0;
padding:0;}
@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto+Slab&display=swap');
.AboutStyle{
    width: 100%;
    height : auto;
    margin:auto;
    font-family: 'Roboto Slab', serif;
    font-family: 'Lobster', cursive;
    background-color: rgb(134, 172, 214) ;
}
.AboutStyle h2{
    margin: 0;
    padding:20px 0;
    text-align: center;       
}
.avatar img{
    width:200px; height: 200px;
  
}