*{margin:0;
  padding:0;}

@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto+Slab&display=swap');
.home_body{
    width: 100%;
    height : auto;
    margin:auto;
    font-family: 'Roboto Slab', serif;
    font-family: 'Lobster', cursive;
    background-color: rgb(134, 172, 214)  ;
}
.home_body h1{
    margin: 0;
    padding:20px 0;
    text-align: center;       
}
.home_body p {
  margin: 0;
  padding:20px 0;
  text-align: center;   
}